* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}
body {
  background-color: rgba(38, 27, 60, 0.741);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.conteiner {
  width: 375px;
  background-color: #c1c3de;
}
header {
  background-color: #0a1a29;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 24px;
  color: #f4f4f4;
}
main {
  padding: 24px;
}
label {
  font-weight: normal;
  font-size: 14px;

  color: #777777;
}
select {
  background-color: #ffffff;
  border: #bbbbbb;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  display: block;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  margin-bottom: 24px;
}
input {
  background-color: #ffffff;
  border: #bbbbbb;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  display: block;
  outline: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 18px;
}
button {
  background: #0a1a29;
  border-radius: 25px;
  height: 48px;
  cursor: pointer;
  color: #f4f4f4;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  border: none;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.7;
}
section {
  border: 1px solid #0a1a29;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.currency-conteiner {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.currency-name {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #0a1a29;
  font-weight: bold;
}
.currency-value {
  color: #0a1a29;
  font-weight: bold;
  font-size: 20px;
}
